.TabMenu {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.TabMenu__Tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: .5em;

    background-color: #ddd;
    border-radius: 10px;

    list-style: none;

    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.TabMenu__Tabs__Tab {
    display: inline-flex;
    align-items: center;
    height: 2em;
    padding: .5em;
    margin: .5em;
    border-radius: 10px;
    cursor: pointer;
}

.TabMenu__Tabs__Tab:hover {
    background-color: #eee;
}

.TabMenu__Tabs__Tab.react-tabs__tab--selected {
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.TabMenu__Tabs__Tab__Badge {
    font-size: .8em;
    margin-left: .2em;
    text-align: center;
    line-height: 1.8em;
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.TabMenu__Tabs__Tab__Badge--hidden {
    display: none;
}