.CourseItem {
    --min-inner-width: var(--CourseItem-min-inner-width);
    --horizontal-margin: var(--CourseItem-horizontal-margin);
    --horizontal-padding: var(--CourseItem-horizontal-padding);

    text-align: center;

    margin: .5em var(--horizontal-margin);
    padding: .5em var(--horizontal-padding);

    border-radius: 10px;

    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);

    background-color: var(--action-color);
    width: min-content;

    cursor: pointer;
}

.CourseItem__inner {
    display: inline-block;
    width: calc(2 * (var(--min-inner-width) + var(--horizontal-margin) + var(--horizontal-padding)));
    overflow: clip;
    white-space: nowrap;
}

.CourseItem--halfYear .CourseItem__inner {
    width: var(--min-inner-width);
}

.CourseItem--isDragging {
    opacity: .5;
}

.CourseItem__inner[data-level="advanced-placement"]::after {
    content: 'AP';
    color: var(--blue);
}
.CourseItem__inner[data-level="early-college"]::after {
    content: 'EC';
    color: var(--green);
}
.CourseItem__inner[data-level="honors"]::after {
    content: 'HR';
    color: var(--purple);
}
.CourseItem__inner[data-level="college-preparatory"]::after {
    content: 'CP';
    color: var(--orange);
}