.CourseBucket {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 393.6px;

    background-color: var(--container-color);

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

    margin: .5em;
    padding: .5em;

    border-radius: 10px;
}

.CourseBucket--canDrop {

}

.CourseBucket--isOver {
    outline: var(--container-color) dashed 4px;
    outline-offset: 4px;
}

.CourseBucket__Courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: calc(2 * var(--CourseItem-min-inner-width) + 4 * (var(--CourseItem-horizontal-margin) + var(--CourseItem-horizontal-padding)));
}