.App {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: var(--background-color);
}

.App__CourseBuckets {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}