@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: var(--container-color);
}

*:focus {
    outline: 3px dashed var(--background-color);
}

:root {
    --background-color: #2b2d42;
    --container-color: #8d99ae;
    --action-color: #edf2f4;

    --red: #cc0000;
    --orange: #fb5607;
    --green: #86A397; 
    /* 16F4D0 */
    --blue: #3a86ff;
    --purple: #8338ec;

    --CourseItem-min-inner-width: 10ch;
    --CourseItem-horizontal-margin: .2em;
    --CourseItem-horizontal-padding: .3em;

    font-family: 'Roboto', sans-serif;
}