@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #7778A6;
    --container-color: #FFFFFF;
    --action-color: #E43A48;

    --CourseItem-min-inner-width: 10ch;
    --CourseItem-horizontal-margin: .2em;
    --CourseItem-horizontal-padding: .3em;

    font-family: 'Roboto', serif;
}